@charset "utf-8";
/* CSS Document */
/* pg= page & alt= alternative */
p.frontPage{
	font-size: 20px;
	text-align: left;
}

p{
	align-content: center;
	text-align: center;
}

article{
	margin-left: 150px;
	margin-right: 150px;
}

body.pgalt{
	background-color:teal;
}

h1{
	text-align: center;
}

/* dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 12px;  
  border: none;
  outline: double;
  color: teal;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: white;
  color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.show {
  display: block;
}

img.regpage{
  width: 250px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}


/* Navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  font-size: 12px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.topnav a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.topnav a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
.topnav a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
.topnav a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*flexbox*/

		.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: white;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: teal;
  padding: 200px;
  flex: 40%;
  position: relative;
  
}

.img-container{
  width: 500px;
  height: auto;
  object-position: absolute;left: 0px;
  position:absolute;bottom: 0px;
}
@media all and (max-width: 600px) {
  .img-container {
    flex-direction: column;
	margin-left: 100px;
	margin-right: 100px;
	  
			}}


		@media all and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
	margin-left: 100px;
	margin-right: 100px;
			}}

/*button*/	
.button {
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: .4s;
  cursor: pointer;
}
.button1:hover{
  background-color: white; 
  color: black; 
  border: 3px solid #04AA6D;
}

.button2:hover{
  background-color: white; 
  color: black; 
  border: 3px solid #04AA6D;
	
}


.button1 {border-radius:50%;}
.button2{ border-radius: 60%;}

.image-row {
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
}

/*Flexbox for regular page*/

.flex-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

#mid.flex-container > div {
  justify-content: center;
  text-align-last: left;
  background-color: #f1f1f1;
  width: 250px;
  margin: 0;
  line-height: 75px;
  font-size: 30px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/*spacing for p tag */
 p.small {
	 line-height: 0;
	 font-size: 15px;
	
}
 
p.big{
	line-height: 0;
	font-size: 25px;
	font-weight: bold;
}

/*div for contact page*/
.center{
  margin-top: 20px;
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* no style for list */
li{
	list-style: none;
	text-align: left;
}
ul{
	text-align: left;
}
